<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="featureSwitcher" type="FeatureSwitcher.Configuration.SectionGroup, FeatureSwitcher.Configuration">
      <section name="default" type="FeatureSwitcher.Configuration.DefaultSection, FeatureSwitcher.Configuration"/>
      <section name="features" type="FeatureSwitcher.Configuration.FeaturesSection, FeatureSwitcher.Configuration"/>
    </sectionGroup>
  </configSections>
  <featureSwitcher>
    <default featuresEnabled="true"/>
<!--    <features>
      <feature name="FeatureSwitcher.Examples.BlueBackground" enabled="true"/>
    </features>-->
    <features configSource="features.config"/>
  </featureSwitcher>
</configuration>